.top
  .top-content
    // *照片開始
    .photo
      img(src='https://secure.gravatar.com/avatar/a87c99d3d92ff7fd877688ef849201f4?s=128&d=mm&r=g', alt='photo')
      h1 CHEN YI AN
    // *照片結束
    // *聯絡資訊開始
    .info
      .title
        | Front-End Developing Learner
      .contact
        .url
          a(href='https://www.facebook.com/ianchen0419', target='_blank')
            i.fa.fa-facebook-official(style='font-size: 36px; color: #90A955;background-color: #24260f;')
          span fb.me/ianchen0419
        .url
          i.fa.fa-skype(style='font-size:36px;color:#90A955;background-color: #24260f;')
          span ianchen0419
        .url
          i.fa.fa-envelope-o(style='font-size:36px;color:#90A955;background-color: #24260f;')
          span ianchen0419@gmail.com
    // *聯絡資訊結束
// *表頭結束
// 內容開始
.content
  .max-width
    // 左邊開始
    .left
      // 工作經歷開始
      .experience
        .con-title.ex-title EXPERIENCE
        .ex-content
          .ex-con-left
            .dot
            .vertical-line
          .ex-con-right
            h3 Japan EC Site Executive
            h5 Uitox Taiwan
              span ｜2016.07 ~ 2017.02 
            p Take account of Japan EC Site operating.
              br
              |In terms of Fast Fashion, we export Taiwan online fashion brand to Japan.
              br
              |Duties: Japanese Meeting Interpretion, Japanese Translation, Documents making.
      // 工作經歷結束
      // 學歷開始
      .education
        .con-title.ed-title EDUCATION
        .ed-content
          .ed-con-left
            .dot
            .vertical-line
          .ed-con-right
            h3 Double Major:
              br
              |Japanese & International Business
            h5 Soochow University
              span ｜2012.09 ~ 2016.06
            p Study Field:
              br
              |Japanese Languages, Japanese Culture, Japanese Grammer, English, Economics, Statistics, Accounting, Marketing, Management, Trade Practices.
      // 學歷結束
    // 左邊結束
    // 右邊開始
    .right
      // 語言能力開始
      .languagues
        .con-title.la-title LANGUAGES
        .la-content
          .chinese
            h3 CHINESE
            h4 native
          .outer-jp
            .sq1-jp
            .sq2-jp
            .sq3-jp
            .inner-jp
              h3 JAPANESE
              h4 JLPT N1
          .outer-eng
            .sq1-eng
            .sq2-eng
            .inner-eng
              h3 ENGLISH
              h4 TOEIC 830
      // 語言能力結束
      //技能開始
      .skills
        .con-title.sk-title SKILLS
        .skill-content
          .skill-con-left
            .skill-bar
              span HTML
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .yes
            .skill-bar
              span CSS
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .yes
            .skill-bar
              span JavaScript
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .no
          .skill-con-right
            .skill-bar
              span WordPress
              .skill-level
                .yes
                .yes
                .yes
                .yes
                .no
            .skill-bar
              span Bootstrap
              .skill-level
                .yes
                .yes
                .yes
                .no
                .no
            .skill-bar
              span PHP
              .skill-level
                .yes
                .yes
                .no
                .no
                .no
      // 技能結束
      // 作品集開始
      .portfolio
        .con-title.sk-title PROTFOLIO
        .po-content
          .po-con-right
            a(href="https://codepen.io/ianchen0419/" target="_blank")
              i(class="fa fa-codepen" style="font-size:100px;")
            span CODEPEN
          .po-con-middle
            a(href="http://ianchen.thisistap.com/" target="_blank")
              i(class="fa fa-wordpress" style="font-size:100px;")
            span WEBSITE
          .po-con-left
            a(href="https://github.com/ianchen0419" target="_blank")
             i(class="fa fa-github" style="font-size:100px;")
             span GITHUB
      // 作品集結束
      // 右邊結束
      // 內容結束